/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Dockerfile
docker-composer.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
.styleci.yml
.dockerignore
