# Normalize all non-binary files line endings to LF upon `git add`/`git commit.`
* text=auto

# Git files
.gitattributes  export-ignore

# Tests
tests           export-ignore
.travis.yml     export-ignore
phpunit.xml     export-ignore

# Other files
./tests             export-ignore
./.editorconfig     export-ignore
./.travis.yml       export-ignore
./composer.lock     export-ignore
./phpunit.xml       export-ignore

