version: '3.5'

services:
  modules-app:
    build:
      context: '.'
      args:
        uid: ${UID}
    container_name: modules
    environment:
      - APACHE_RUN_USER=#${UID}
      - APACHE_RUN_GROUP=#${UID}
    volumes:
      - .:/var/www/html
    networks:
      modules:
        aliases:
          - modules

networks:
  modules:
    name: modules-network

